<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/logo-Almi.jpg"></ion-img>
  <ion-list>
    <ion-item *ngFor="let curso of cursos">
      <ion-label (click)="datos(curso.id)">{{curso.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="cerrarSession()" expand="block" *ngIf="logIn">
    Cerrar Session
  </ion-button>
  <ion-fab *ngIf="logIn" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img *ngIf="logIn" [src]="converted_image" alt="Select Image"/>
</ion-content>
