<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/logo-Almi.jpg"></ion-img>
  <form (ngSubmit)="logIn()">
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input type="text" name="user" [(ngModel)]="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" block>
      Log In
    </ion-button>
  </form>
</ion-content>
