<ion-header>
  <ion-toolbar>
    <ion-title>alumnos_curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/logo-Almi.jpg"></ion-img>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{alumno.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-button (click)="volver()" expand="block" >
    Ir a inicio
  </ion-button>
</ion-content>
