<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ALTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/logo-Almi.jpg"></ion-img>
  <form (ngSubmit)="enviarFormulario()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-select value="alumnoID" placeholder="Escoje un alumno"
      name="alumnoID" [(ngModel)]="alumnoID">
      <ion-select-option *ngFor="let alumno of alumnos" value="{{ alumno.id }}" type="integer">{{alumno.name}}</ion-select-option></ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Curso</ion-label>
      <ion-select value="cursoID" placeholder="Escoje un curso"
      name="cursoID" [(ngModel)]="cursoID">
    	<ion-select-option *ngFor="let curso of cursos" value="{{ curso.id }}" type="integer">{{curso.name}}</ion-select-option></ion-select>
    </ion-item>
    <ion-button expand="full" type="submit" block>
      Añadir
    </ion-button>
  </form>
</ion-content>